javaSample/mySample/oxygen-sample-plugins/oxygen-sample-plugin-conversion/etc/conversion.dtd

<!ELEMENT converter-config (labels , defaults?, entries+)>
<!-- labels element -->
<!ELEMENT labels (label)+>
<!-- label element -->
<!ELEMENT label EMPTY>
<!ATTLIST label key CDATA #REQUIRED>
<!ATTLIST label value CDATA #REQUIRED>
<!-- defaults element -->
<!ELEMENT defaults (defaultvalue)*>
<!-- defaultvalue element -->
<!ELEMENT defaultvalue EMPTY>
<!ATTLIST defaultvalue key CDATA #REQUIRED>
<!ATTLIST defaultvalue value CDATA #REQUIRED>
<!-- entries element. Its attribute represent the text to be placed in "format combo box" in the GUI-->
<!ELEMENT entries (entry)+>
<!ATTLIST entries format CDATA #REQUIRED>
<!ELEMENT entry (      (s1Value , s1Label , s2Value , s2Label) ,
                                        (conversionFactor | conversionFormula),
                                        decimals?)+>
<!-- s1 value represent the text to be placed in "master combo box" in the GUI-->
<!ELEMENT s1Value (#PCDATA)>
<!-- s2 value represent the text to be placed in "slave combo box" in the GUI-->
<!ELEMENT s2Value (#PCDATA)>
<!-- s1label represent the label of s1 value-->
<!ELEMENT s1Label (#PCDATA)>
<!-- s2label represent the label of s2 value-->
<!ELEMENT s2Label (#PCDATA)>
<!-- conversionFactor represent the conversion factor-->
<!ELEMENT conversionFactor (#PCDATA)>
<!-- conversionFormula represent the conversion formula-->
<!ELEMENT conversionFormula ( v1 , v2)>
<!ELEMENT v1 (#PCDATA)>
<!ELEMENT v2 (#PCDATA)>
<!-- decimals represent the decimals number to show-->
<!ELEMENT decimals (#PCDATA)>
